h1{
  font-family: 'Nunito', sans-serif;
  font-size: 50px;
  text-align: center;
  background: rgb(31, 175, 158);
  margin-left: 30px;
  margin-right: 30px;
}
label{
  display: inline-block;
  width: 150px;
}

body{
  padding: 0px;
}